<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Musika Ui</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="../css/css/bootstrap.min.css">
    <link href="../css/elegant-icons-style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
    <link rel="stylesheet" href="../css/style.css"/> 
    
</head>

<body>
    <div class="wrapper">
       <nav id="sidebar" th:insert="fragments/userAside.html">
           
        </nav>
        <div id="content">
            <div th:insert="fragments/userheader.html">
            </div>
             <h2 class="page">Add Playlist</h2>
           
            <div class="main">
                <form th:method="POST" th:action="@{addPlaylist}" th:object="${playlistDesign}">
<table>
    <thead>
    <td>ID</td>
    <td>Title</td>
    <td>Album Name</td>
    <td>Likes</td>
    <td>File</td>
    <td>Cover</td>
    </thead>
    <tbody>
    <tr th:each="obj : ${songModel}">
        <td> <input name="songs" type="checkbox"
              th:value="${obj.songId}" /> </td>
        <td> <span th:text="${obj.songTitle}">SONG</span> </td>
        <td> <span th:text="${obj.songAlbumName}">SONG</span> </td>
        <td> <span th:text="${obj.songLikes}">SONG</span> </td>
        <td>
            <form method="get" action="/admin/viewSongs/{obj}">
                <audio controls>
                    <source th:src="@{'data:audio/mp3;base64,'+${obj.songFile}}" type="audio/mp3"/>
                </audio>
            </form>
        </td>
        <td> <img th:src="@{'data:image/jpeg;base64,'+${obj.songCover}}" width="100" height="100"/></td>
    </tr>
    </tbody>
  </table>
<div>
        <h3>Name your Playlist</h3>
        <input type="text" th:field="*{playlist_name}" /> <span class="text-danger"
          th:if="${#fields.hasErrors('playlist_name')}" th:errors="*{playlist_name}">Name
          Error</span> <br />
        <button>Add Playlist</button>
      </div>
</form>
            </div>  

            
        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="js/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
        /*<![CDATA[*/
        function playSong(fileBytes){
            var playModel = document.getElementById("playModel");
            playModel.action = "/home/{fileBytes}";
            playModel.method = "get";
            var player = document.getElementById("player");
            player.src = "data:audio/mp3;base64,"+fileBytes;
            player.play();
        }
        /*]]>*/
        
    </script>
</body>
</html>