 <div class="sidebar-header">
                <button type="button" id="sidebarCollapse" class="btn btn-info icon">
                        <i class="fas fa-align-left"></i>
                        <span class="icon_menu"></span>
                    </button>
                <h3>Musika</h3>
                <strong>MK</strong>
                <input type="search" name="search" class="form-control search" placeholder="Search">
            </div>

           <ul class="list-unstyled components">
              <li id="search">
                <a href="">
                  <span class="icon_search min"></span>
                </a>
              
              </li>
                
                <li class="active">
                    <a href="../admin/admin">
                        <i class="fas fa-home"></i>
                        <span class="icon_desktop" id="gliph"></span>
                        <span class="icon_desktop min" id="gliph"></span>
                        </button>

                        <span class="list">Dash Board</span>
                    </a>
                    
                </li>
                <li>
                    <a href="../admin/uploadSong">
                        <i class="fas fa-briefcase"></i>
                        <span class="icon_cloud-upload"></span>
                        <span class="icon_cloud-upload min"></span>
                        
                        <span class="list">upload Song</span>
                        
                    </a>
                </li>
                <li>
                    <a href="../admin/addArtist">
                        <i class="fas fa-briefcase"></i>
                        <span class="icon_contacts"></span>
                        <span class="icon_contacts min"></span>
                        
                        <span class="list">Add Artist</span>
                        
                    </a>
                </li>
                <li>
                    <a href="../admin/viewSongs">
                        <i class="fas fa-briefcase"></i>
                        <span class="icon_contacts"></span>
                        <span class="icon_contacts min"></span>
                        
                        <span class="list">View Songs</span>
                        
                    </a>
                </li>
                <li>
                    <a href="../admin/viewArtists">
                        <i class="fas fa-briefcase"></i>
                        <span class="icon_contacts"></span>
                        <span class="icon_contacts min"></span>
                        
                        <span class="list">View Artists</span>
                        
                    </a>
                </li>
                
                </ul>
               
                