<div class="top-nav notification-row">
	<!-- notificatoin dropdown start-->
	<ul class="nav pull-right top-menu">



		<!-- user login dropdown start-->
		<li class="dropdown"><a data-toggle="dropdown"
			class="dropdown-toggle" href="#"> <span
				class="icon_profile right-icons"> </span> <span
				th:text="${user.getUsername()}" class="username">Jenifer Smith</span>

		</a>
			<ul class="dropdown-menu extended logout">
				<div class="log-arrow-up"></div>
				<li class="eborder-top"><a href="#" class="icon-dropdown"><i
						class="icon_profile"></i> My Profile</a></li>

				<li><a th:href="@{/logout}" class="icon-dropdown"><i
						class="icon_key_alt"></i> Log Out</a></li>

			</ul></li>
		<!-- user login dropdown end -->
	</ul>
	<!-- notificatoin dropdown end-->
</div>