/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
.reg_label{
	
	color:white;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}
/* ---------------------------------------------------
    Landing
----------------------------------------------------- */
.landing{
        width: 50%;
    position: absolute;
    margin-top: 7%;
    margin-left: 24%
}
.landing_h1{
        margin-bottom: 15%;
    color: white;
    font-size: 60px;
}
.landing_btn{
    margin-left: 27%;
}
/* ---------------------------------------------------
    Navigation STYLE
----------------------------------------------------- */
.navbar{
        
     background:none; 
    border: none; 
     border-radius: 0; 
    margin-bottom: 30px;
    padding: 15px 10px 5px 0px;
     box-shadow:none; 
     border-bottom: 1px solid #d9d4d4;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    
    font-family: ;
    background-image: url('../images/c.png');
    color: #d2d3d3;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 62px;
    max-width: 62px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .sidebar-header .search,
#sidebar.active ul li span,
#sidebar.active ul li #playlist,

#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong,
#sidebar.active ul #search,
#sidebar.active  .min {
    display: block;
}
#sidebar.active .sidebar-header{
    padding: 20px 0px;
}
#sidebar ul li a .list{
    margin-left: 15px;
}
#sidebar ul #search{
display: none;
}
#sidebarCollapse{
    margin-bottom: 20px;
    font-size: 24px;

}
.icon{
    border: none;
    box-shadow: none;
    border-radius: 0px;
    background: none;  
}
#sidebar.active  .min{
    border: none;
    box-shadow: none;
    border-radius: 0px;
    background: none;
}
#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}



#sidebar .sidebar-header {
    padding: 20px;
    background: none;
}
#sidebar  .min{
    display: none;
    font-size: 19px;
}
#sidebar .sidebar-header strong{
    display: none;
    font-size: 1.8em;
}
#playlist{
    padding: 6px 12px;
}
#separator{
    margin: 30px 9px 0px 9px;
    border: 0;
    border-top: 1px solid #6e6464;
    border-bottom: 0px;
}
#sidebar ul.components {
    padding: 20px 0;
    margin: 0px;
    
}

#sidebar ul li a {
    padding: 10px 10px 15px 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #fff;
    background: rgba(58, 58, 58, 0.3);
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
   
    
  
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
/* ---------------------------------------------------
    Admin CONTENT STYLE
----------------------------------------------------- */

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
.card-body{
	padding: 0px;}
	
.main{
    padding-right: 50px;

}

.music a{
    font-family: serif;
    font-size: 12px;
}
.music{
    padding-left: 0px;
    margin:10px 0px;

}
.music h4{
    margin-bottom: 0px; 
     font-family: sans-serif;
    font-size:12px ;
}
.music img:hover{
opacity: 0.8;

}
.music-icon-heart{
    padding: 0px;
    margin: 0;
    line-height: normal;
    border: none;
        float: right;
    font-size: 14px;
    color: #f84848;
    margin-right: 9px;
}
.music-icon-heart:hover{
    
    font-size:17px;
    
}
.music-icon-like{
    padding: 0px;
    margin: 0;

    line-height: normal;
    border: none;
        float: right;
    font-size: 14px;
    color: #2196f3;
    margin-right: 9px;
}
.music-icon-like:hover{
    color: #2196f3;
    font-size:17px;  
    
}
ul.top-menu > li {
    float: left;
}
.page{
display: inline;}
.badge.bg-important {

    color: #4c7576;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
}
.notification-row .badge {
    position: absolute;
    right: -4px;
    top: 0px;
    z-index: 100;
    border-radius: 9px;
    min-width: 18px;
    height: 18px;
    text-align: center;
    padding: 3px 5px;
    background: #eeeeee9e;
    font-weight: 400;
}
top-nav ul.top-menu > li .dropdown-menu.logout {
    width: 200px !important;
}
.right-icons{
    font-size: 20px;
    margin-right: 5px;
    color: #898989;
}
.icon-dropdown{

    border-bottom: 1px solid #EBEBEB !important;
    font-size: 14px;
    list-style: none;
    background: rgb(0,0,0,0);
    padding: 25px 15px !important;
    width: 100%;
    display: inline-block;
}
.card-footer{
        padding-left: 10px;
    padding-right: 10px;
}
.card-footer>span{
    color: black;
}
.card-body>img:hover{
    opacity: 0.9;
    

}
/* ---------------------------------------------------
    Login
----------------------------------------------------- */

.login-img3-body {
    background: url(../img/bg3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.login-img3-body .login-form {
    border: 1px solid #16130a;
    background: rgba(36, 34, 19, 0.9);
}
.login-form {
    max-width: 350px;
    margin: 200px auto 0;
    background: #d5d7de;
}
.login-wrap {
    padding: 20px;
}
.login-img3-body .login-form p, .login-img2-body .login-form p {
    color: #f2f2f2;
}
.login-form .login-img {
    font-size: 50px;
    font-weight: 300;
}
.login-form p {
    text-align: center;
    color: #b6b6b6;
    font-size: 16px;
    font-weight: 300;
}
.login-form .input-group {
    padding-bottom: 15px;
   
}
.login-form .input-password{
	width:275px;
	marign-right:80px;
	padding-bottom: 15px;
}

.login-form .checkbox {
    font-weight: normal;
    font-weight: 300;
    color:  #c7c0c0;
    font-family:  sans-serif;
}
.login-form .btn {
    border-radius: 0;
}
.login-form .btn {
    border-radius: 0;
}
.login_icons{
    color: #c3beb8;
    font-size: 16px;
}
.login_icon_span{
    background: rgb(0,0,0,0);
    color: white;
}
.btn-login{
    background:  #e3a106;
}
.signup_header >p{
	color:red;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #gliph{
        margin-right: 5px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;

        
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}