<!DOCTYPE html>
<html
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Musika Ui</title>

</head>

<body>
    <form action="/admin/uploadSong">
        <input type="submit" value="Upload Single Songs"/>
    </form>
    <form action="/admin/addArtist">
        <input type="submit" value="Add Artist"/>
    </form>

</body>

</html>