<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Musika 2019</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Varela+Round"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/grayscale.min.css" rel="stylesheet">

</head>

<body id="page-top">
	<!-- Header -->
	<header class="masthead">
		<div class="container d-flex h-100 align-items-center">
			<div class="mx-auto">
				<h1 class="mx-auto my-0 text-uppercase text-center">Musika</h1>
				<h2 class="text-white  mx-auto mt-2 mb-5 text-center">Please fill the form with your account's information.</h2>

				<form th:action="@{/login}" th:method="POST" class="login-form">
					<div class="login-wrap">
						<span th:text="${successMessage}"></span>
						<p class="login-img">
							<i class="icon_lock_alt"></i>
						</p>
						<div class="input-group">
							<span class="input-group-addon login_icon_span"><i
								class="icon_profile login_icons"></i></span> <input type="text"
								id="username" name="username"  placeholder="Enter your User Name"
								class="form-control">
						</div>
						<br/>
						<div class="input-group">
							<span class="input-group-addon login_icon_span"><i
								class="icon_key_alt login_icons"></i></span> <input type="password"
								 placeholder="Enter your Password" id="password" name="password"
								class="form-control">
						</div>
						<div class="text-danger" align="center" th:if="${param.error}">
							<p>Username or Password invalid, please verify</p>
						</div>
						<br/>
<!-- 						<label class="checkbox">  -->
							<input type="checkbox" class="text-left" value="remember-me"> 
							<span class="mx-auto my-0 text-uppercase text-left" style="color:white">Remember me</span>
							<span class="mx-auto my-0 text-uppercase text-right">
								<a href="#" class="text-right" style="color:white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forgot Password?</a>
							</span>
<!-- 						</label> -->
						<button class="btn btn-primary btn-block text-center" name="submit"
							value="Login" type="submit" th:text="Login"></button>
					</div>
				</form>
				<br/>
				<form th:action="@{/registration}" th:method="GET">
					<button class="btn btn-md btn-warning btn-block text-center" type="Submit">Register</button>
				</form>
			</div>
		</div>
	</header>
	<!-- Footer -->
	<footer class="bg-black small text-center text-white-50">
		<div class="container">Copyright &copy; Musika 2019</div>
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for this template -->
	<script src="js/grayscale.min.js"></script>

</body>

</html>
