<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload Song!</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>
<nav class="navbar navbar-light bg-light">
    <h1> Upload Song!</h1>
</nav>

<div class="container">
    <form method="POST" enctype="multipart/form-data" th:object="${artistArray}">

        <h3>Deliver my song masterpieces to...</h3>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Song Name: </label>
            <input type="text" id="singleFileTitleInput" name="songTitle"/>
        </div>
        <div class="form-group row">
            <label for="singleFileArtistInput" class="col-sm-2 col-form-label">Artist Name: </label>
            <input type="text" id="singleFileArtistInput" name="songArtist"/>
        </div>
        <div class="form-group row">
            <label for="singleFileAlbumInput" class="col-sm-2 col-form-label">Album Name: </label>
            <input type="text" id="singleFileAlbumInput" name="songAlbum"/>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Song File: </label>
            <input type="file" id="singleFileUploadInput" name="songFile" />
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Cover Photo: </label>
            <input type="file" id="singleFileCoverInput" name="coverFile"/>
        </div>
        <input type="submit" value="Submit order"/>
    </form>
</div>

<script th:href="@{/js/jquery-3.3.1.slim.min.js}" src="../js/jquery-3.3.1.slim.min.js"></script>
<script th:href="@{/js/popper.min.js}" src="../js/popper.min.js"></script>
<script th:href="@{/js/bootstrap.min.js}" src="../js/bootstrap.min.js"></script>
<script th:href="@{/js/holder.min.js}" src="../js/holder.min.js"></script>
</body>
</html>
